<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Block access to .env and other hidden files just in case
    <FilesMatch "^\.">
        Order allow,deny
        Deny from all
    </FilesMatch>

    # Forward all requests to the public/ folder
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
